body {
    height: 100%;
    padding: 0 0;
    margin: 0 0;
	background-color: #292c33;
    font-family: "Myriad Set Pro";
	letter-spacing: .2px;
	color: #94b4c7;
    -webkit-user-select: none;
    overflow: hidden;
}

.titleBar {
    position: fixed;
    width: 100%;
    height: 35px;
    text-align: center;
	outline: #444c5c solid .5px;
	background-color: #292c33;
    z-index: 5002;
	-webkit-app-region: drag;
}

.titleBar span {
	position: relative;
    color: #94b4c7;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%; 
	top: 25%;
}

.settingsIcon {
	position: absolute;
	top: 0%;
	width: 100%;
	text-align: right;
}

.settingsIcon i {
	margin-top: 10px;
	margin-right: 15px;
	color: #94b4c7;
}

.settingsIcon i:hover {
	color: #b1d6ed;
}

.settingsIcon i:active {
	color: #6d8594;
}

.settingsOverlay {
	position: absolute;
	margin: 0 0;
	padding: 0 0;
	width: 100%;
	height: 100%;
	background-color: #212329;
	z-index: 5001;
	opacity: 0;
	pointer-events: none;
	
	transition: all 0.5s ease;
}

.settingsModule {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 90%;
	height: 70%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
/*	background-color: #eaeaea;*/
}

.addOverlay {
	opacity: 1;
	pointer-events: auto;
}

.settingsOverlay h1 {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #94b4c7;
}

.dropdownContainer {
	height: 30px;
	margin-bottom: 10px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #447c16;
    width: 50px;
    height: 30px;
    border-radius: 2px;
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	min-width: 120px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5003;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #dcf4c8}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #62b321;
}

.dropdown p {
	font-size: 14px;
	color: #292c33;
	margin-left: 10px;	
}

.dropdownContainer span {
	font-size: 13px;
	font-weight: 300;
	color: #94b4c7;
	margin-left: 10px;	
}

.animOverlay {
	position: absolute;
	margin: 0 0;
	padding: 0 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 5001;
	opacity: 0;
	pointer-events: none;
	
	transition: all 0.5s ease;
}

.draged-over {
	opacity: 1;
}

.circleAnim {
	position: absolute;
	width: 90px;
	height: 90px;
	background: #30a4f6;
	border-radius: 50px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	animation-name: circlePulse;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes circlePulse {
    0% {
		width: 90px; 
		height: 90px;
		background: #30a4f6;
	}
    30% {
		width: 75px; 
		height: 75px;
		background: #2174ae;
	}
	40% {
		width: 75px; 
		height: 75px;
		background: #2174ae;
	}
	60% {
		width: 90px; 
		height: 90px;
		background: #30a4f6;
	}
}

.outerRingAnim {
	position: absolute;
	width: 70px;
	height: 70px;
	background: none;
	border-radius: 35px;
	border-style: solid;
	border-width: 2px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	
	animation-name: ringPulse;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes ringPulse {
    40% {
		width: 70px; 
		height: 70px;
		border-radius: 35px;
		opacity: 0;
	}
	50% {
		opacity: 1;
		border-width: 1px;
	}
    100% {
		width: 250px; 
		height: 250px;
		border-radius: 125px;
		border-width: 1px;
		opacity: 0;
	}
}

.plusAnim {
	position: relative;
	width: 100%;
	height: 100%;
	transform: scale(2, 2);
	margin-top: -15px;
	
	animation-name: plusPulse;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.plusAnim i {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #fefeff;
	transform: translate(-50%, -50%);
}

@keyframes plusPulse {
    0% {
		transform: scale(2, 2);
		margin-top: -15px;
		color: #fefeff;
	}
    30% {
		transform: scale(1.6, 1.6);
		margin-top: -12px;
		color: #bcd0db;
	}
	40% {
		transform: scale(1.6, 1.6);
		margin-top: -12px;
		color: #bcd0db;
	}
	60% {
		transform: scale(2, 2);
		margin-top: -15px;
		color: #fefeff;
	}
}

.propertiesBar {
	position: fixed;
	width: 100%;
	height: 20px;
	margin: 35px 0 0 0;
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 12px;
	z-index: 5000;
}

.propertiesBar span {
	position: absolute;
	top: 25%;
}

.fileNameTitle {
	margin-left: 5px;
}

.dropArea {
    position: fixed;
    width: 100%;
    height: 100%;
	padding: 0 0;
    margin: -5px 0;
    background-color: #292c33;
}

ul {
	width: 100%;
	height: 77%;
	list-style-type: none;
	padding: 0 0;
	margin: 60px 0 0 0;
	font-size: 12px;
	list-style-position: inside;
	overflow: hidden; 
	overflow-y: scroll;
}

li {
	display:inline-block;
	position: relative;
	height: 25px;
}

li span {
	position: absolute;
	top: 25%;
}

li:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}

.fileName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 60%;
}

.folderIcon {
	color: #b0c3d2;
	margin: 6px 5px 0px 5px;
}

.folderIcon:hover {
	color: #b1d6ed
}

.folderIcon:active {
	color: #6d8594;
}

.statusIcon {
	margin-top: 6px;
	width: 14px;
}

.fail {
	color: #ed2d2d;
	margin-right: 2px;
}

.success {
	color: #8bed2d;
	margin-right: 3px;
}

.processing {
	color: #30a4f6;
	margin-right: 3px;
}

.footer {
    position: absolute;
    width: 100%;
	bottom: 0px;
    height: 35px;
	outline: #444c5c solid .5px;
	background-color: #292c33;
	
	z-index: 5002;
	-webkit-app-region: drag;
}

.footer span {
    font-size: 12px;
}

.totalSavings {
	position: absolute;
	top: 30%;
	color: #6f8292;
	margin-left: 10px;
}

.addIcon {
	color: #268cd4;
	float: right;
	margin-right: 10px;
	margin-top: 8px;
}

.addIcon:hover {
	color: #31aaff;
}

.addIcon:active {
	color: #1a5c8a;
}

.clearIcon {
	color: #d42626;
	float: right;
	margin-right: 5px;
	margin-top: 8px;
}

.clearIcon:hover {
	color: #ff3131;
}

.clearIcon:active {
	color: #8a1a1a;
}

.againIcon {
	color: #94b4c7;
	float: right;
	margin-right: 10px;
	margin-top: 8px;
}

.againIcon:hover {
	color: #b1d6ed;
}

.againIcon:active {
	color: #6d8594;
}