/*
 *
 *  iom - Image Optimization Manager
 *  Author: Javier Aroche
 *
 */

body {
    height: 100%;
    padding: 0 0;
    margin: 0 0;
	background-color: #292c33;
    font-family: "Myriad Set Pro";
	letter-spacing: .2px;
	color: #94b4c7;
    -webkit-user-select: none;
    overflow: hidden;
}

/* Titlebar */
.titleBar {
    position: fixed;
    width: 100%;
    height: 35px;
    text-align: center;
	outline: #444c5c solid .5px;
	background-color: #292c33;
    z-index: 5002;
	-webkit-app-region: drag;
}

.titleBar span {
	position: relative;
    color: #94b4c7;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%; 
	top: 25%;
}

.propertiesBar {
	position: fixed;
	width: 100%;
	height: 20px;
	margin: 35px 0 0 0;
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 12px;
	z-index: 5000;
}

.propertiesBar span {
	position: absolute;
	top: 25%;
}

.fileNameTitle {
	margin-left: 5px;
}

.dropArea {
    position: fixed;
    width: 100%;
    height: 100%;
	padding: 0 0;
    margin: -5px 0;
    background-color: #292c33;
}

ul {
	width: 100%;
	height: 77%;
	list-style-type: none;
	padding: 0 0;
	margin: 60px 0 0 0;
	font-size: 12px;
	list-style-position: inside;
	overflow: hidden; 
	overflow-y: scroll;
}

.files li {
	display:inline-block;
	position: relative;
	height: 25px;
}

.files li span {
	position: absolute;
	top: 25%;
}

.files li:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}

.fileName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 60%;
}

.footer {
    position: absolute;
    width: 100%;
	bottom: 0px;
    height: 35px;
	outline: #444c5c solid .5px;
	background-color: #292c33;
	
	z-index: 5002;
	-webkit-app-region: drag;
}

.footer span {
    font-size: 12px;
}

.totalSavings {
	position: absolute;
	top: 30%;
	color: #6f8292;
	margin-left: 10px;
}